body {
  padding-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16pt;
  background-color: #252525;
  color: white; }
  body .hide {
    display: none; }
  body a {
    color: white !important;
    text-decoration: none; }
    body a:hover, body a.active, body a.active a, body a.active a:focus, body a.nav a:hover, body a.nav a:focus, body a:focus {
      color: black !important;
      text-decoration: none !important;
      background-color: white !important;
      cursor: pointer; }
    body a.admin-hide {
      display: none; }
  body button.navbar-toggler {
    color: white;
    height: 45px;
    border: 1px solid white;
    cursor: pointer; }
  body div#aboutMe {
    color: white;
    background-color: #454545; }
    body div#aboutMe hr {
      height: 0px;
      border-top: 2px solid #252525; }
    body div#aboutMe img.profile {
      width: 100%;
      max-width: 400px;
      height: auto; }
    body div#aboutMe .work {
      padding: 10px; }
  body div#connect p {
    font-size: 24pt; }
  body div#projects {
    color: white;
    background-color: #22531F; }
    body div#projects .project-img {
      margin-bottom: 15px; }
    body div#projects .project {
      margin-right: 10%;
      margin-left: 10%;
      border: 5px solid #0B6C06;
      padding: 15px;
      margin-top: 15px; }
      body div#projects .project hr {
        height: 0px;
        border-top: 2px solid #0B6C06; }
      body div#projects .project .date {
        font-size: 12pt;
        margin-left: 20px; }
      body div#projects .project .edit {
        border: 2px solid #0B6C06;
        padding: 2px; }
      body div#projects .project .source {
        text-decoration: underline; }
  body div.work {
    border: 5px solid #252525;
    margin-top: 15px; }
  body div#top #backgroundImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    background-image: url("../img/dunes-xs.jpg");
    opacity: 0.5;
    position: relative; }
    @media screen and (min-width: 768px) {
      body div#top #backgroundImg {
        background-image: url("../img/dunes-sm.jpg"); } }
    @media screen and (min-width: 992px) {
      body div#top #backgroundImg {
        background-image: url("../img/dunes-md.jpg"); } }
    @media screen and (min-width: 1200px) {
      body div#top #backgroundImg {
        background-image: url("../img/dunes-lg.jpg"); } }
  body div#top .pName {
    font-size: 80pt;
    position: absolute;
    height: 70pt;
    top: 50%;
    margin-top: -35pt;
    margin-left: 10%;
    color: white; }
  body div#top.transparent {
    background-color: #22531F; }
  body div.section {
    height: auto;
    overflow: hidden;
    padding: 20px; }
    body div.section > h1 {
      margin-top: 0px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 46pt; }
    body div.section > p {
      text-align: center; }
  body div.header {
    position: relative;
    display: inline-block;
    height: 45px;
    padding: 0px;
    font-size: 24pt;
    margin: 0; }
    body div.header a {
      width: 100%;
      height: 100%;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px; }
      body div.header a:hover, body div.header a.active, body div.header a.active a, body a.active div.header a, body div.header a.nav a:focus, body a.nav div.header a:focus, body div.header a:focus {
        color: white !important;
        background-color: transparent !important;
        text-decoration: none !important; }
  body div.loader-div {
    text-align: center; }
  body div.logout {
    border: 2px solid white; }
  body div.admin-hide {
    display: none; }
  body div .sidebar-column {
    z-index: 1; }
    @media screen and (max-width: 768px) {
      body div .sidebar-column {
        min-height: 0px; } }
    body div .sidebar-column .sidebar {
      position: fixed;
      width: 100%;
      background-color: #252525; }
      @media screen and (min-width: 768px) {
        body div .sidebar-column .sidebar {
          width: inherit; } }
      body div .sidebar-column .sidebar .sidebar-ul {
        width: 100%; }
        body div .sidebar-column .sidebar .sidebar-ul a {
          display: inline-block;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 10px;
          padding-right: 10px;
          width: 100%; }
  body div .main-content {
    position: relative; }
    @media screen and (min-width: 768px) {
      body div .main-content {
        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: #0B6C06; } }
  body footer {
    border-top-style: solid;
    border-top-color: #454545;
    border-top-width: 5px;
    padding-top: 5px;
    color: white;
    height: 35px; }
  body i.icon {
    font-size: 30pt; }
  body nav.navbar {
    background-color: #454545;
    margin-bottom: 0;
    height: 50px;
    border-bottom: 5px solid #0B6C06; }
  body .pre-wrap {
    white-space: pre-wrap; }
  @media screen and (min-width: 544px) {
    body .margin-right-100 div.col-xs-6:nth-child(odd) {
      text-align: right; }
      body .margin-right-100 div.col-xs-6:nth-child(odd) ul {
        padding-right: 20px;
        direction: rtl; } }
  @media screen and (min-width: 768px) {
    body .margin-right-100 div.col-xs-6:nth-child(odd) {
      text-align: left; }
      body .margin-right-100 div.col-xs-6:nth-child(odd) ul {
        padding-right: default;
        direction: ltr; } }
  @media screen and (min-width: 992px) {
    body .margin-right-100 {
      margin-right: 100px; } }
  body .tooltip {
    font-size: 20pt; }

[data-aspect-ratio] {
  display: block;
  max-width: 100%;
  position: relative; }
  [data-aspect-ratio]::before {
    content: '';
    display: block; }
  [data-aspect-ratio] > * {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

[data-aspect-ratio="16:9"]:before {
  padding-top: 56.25%; }

/*# sourceMappingURL=main.css.map */
