<form name="addProject" novalidate="">
	<input type="radio" ng-model="gitorvid" value="github"> GitHub Project
	<br>
	<input type="radio" ng-model="gitorvid" value="video"> Video Project
	<br>
	<h1>Title</h1>
	<input ng-model="title" placeholder="Title..." required>
	<h1>Description</h1>
	<input ng-model="description" placeholder="Description..." required>
	<h1>Date Completed</h1>
	<input type="date" ng-model="date" placeholder="Date Completed..." required>
	<h1>Soure Code</h1>
	<input type="url" ng-model="link" placeholder="Source Code Link..." required>
	<h1 ng-if="gitorvid == video">Video Link</h1>
	<input ng-if="gitorvid == video" type="text" ng-model="demo" placeholder="Video URL...">
	<h1>Image</h1>
	<textarea ng-model="image" placeholder="Image URI here..." cols="50" rows="8" required></textarea>
	<button ng-click="clearImg()">Clear</button>
	<a href="img-encoder/index.html" target="_blank">
		Get img URI
	</a>
	<a ui-sref="home" ng-show="addProject.$valid">
		<button ng-if="id == undefined" ng-click="save()">Save</button>
		<button ng-if="id" ng-click="edit()">Save Changes</button>
	</a>
</form>