<nav class="navbar navbar-default navbar-fixed-top ng-scope">
    <div class="container-fluid nav-main no-pad">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="menuCollapsed = !menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo" du-smooth-scroll href="#/#top" ng-click="menuCollapsed = false">
                <div>
                    Tyler Bauer
                </div>
            </a>
            <a ng-if="userName == 'tyler.bauer7@gmail.com'" href="" class="logo logout" ng-click="logOut()">
            	<div>
    				Log Out
    			</div>
    		</a>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>

<div class="row no-pad">
	<div class="col-sm-2 col-lg-1 no-pad sidebar-grid">
		<div id="sidebar" class="navbar-collapse collapse no-pad" uib-collapse="!menuCollapsed" aria-expanded="false" aria-hidden="true" style="height: 0px;">
		    <ul class="nav sidebar-nav col-sm-2 col-lg-1">
		        <li du-scrollspy="aboutMe"><a du-smooth-scroll href="#/#aboutMe" ng-click="menuCollapsed = !menuCollapsed">About</a></li>
		        <li du-scrollspy="projects"><a du-smooth-scroll href="#/#projects" ng-click="menuCollapsed = !menuCollapsed">Projects</a></li>
		        <li du-scrollspy="connect"><a du-smooth-scroll href="#/#connect" ng-click="menuCollapsed = !menuCollapsed">Connect</a></li>
		    </ul>
		</div>
	</div>
	<div class="col-sm-10 col-lg-11 no-pad">
		<div class="container-fluid no-pad">
			<div id="top" class="transparent green section">
				<div id="backgroundImg" class="section">
					<p class="pName">Tyler Bauer</p>
				</div>
			</div>
			<div id="aboutMe" class="section">
				<h1>About Me</h1>
				<a ng-if="userName == 'tyler.bauer7@gmail.com'" ui-sref="infoEdit">Edit</a>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6">
						<div class="bottom-margin profile-div">
							<img class="profile" src="{{info.image}}" alt="profile">
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6">
						<div class="bottom-margin">
							<p>Date of Birth: {{info.dob}}</p>
							<p>Education: {{info.school}}</p>
							<p>Degree: {{info.degree}}</p>
							<div class="row">
								<div class="col-xs-12 col-sm-6 about-me-lists">
									<ul class="aboutList">Skills:</ul>
										<li class="aboutListItem" ng-repeat="skill in info.skills">{{skill}}</li>
								</div>
								<div class="col-xs-12 col-sm-6 about-me-lists">
									<ul class="aboutList">Languages:</ul>
										<li class="aboutListItem" ng-repeat="language in info.languages">{{language}}</li>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="left-pad">
							<p class="preserve">{{info.description}}</p>
						</div>
					</div>
				</div>
			</div>

			<div id="projects" class="section">
				<h1>My Projects</h1>
				<a ng-if="userName == 'tyler.bauer7@gmail.com'" ui-sref="edit">New</a>
				<div>
					<div class="row" ng-repeat="project in projects track by $index" ng-if="$index % 2 == 0">
						<div class="col-xs-12 col-sm-12 col-md-6 project-wrapper" ng-repeat="i in [$index, $index + 1]" ng-if="projects[i] != null">
							<div class="project">
								<a class="edit" ng-if="userName == 'tyler.bauer7@gmail.com'" ui-sref="itemEdit({id: projects.$indexFor(projects.$keyAt(projects[i]))})">Edit</a>
								<a class="edit" ng-if="userName == 'tyler.bauer7@gmail.com'" href="" ng-click="delete(projects[i])">Delete</a>
								<h1>{{projects[i].title}}</h1>
								<a ng-href="{{getDemoSite(projects[i])}}" target="_blank"><img alt="projects[i] screenshot" ng-src="{{projects[i].image}}"></a>
								<p>{{projects[i].description}}</p>
								<hr>
								<p class="date">- Completed: {{getDate(projects[i].date * -1) | date : 'MMM dd, yyyy'}}</p>
								<a class="source" ng-if="projects[i].type == 'github'" ng-href="{{projects[i].link}}" target="_blank">Source Code</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="connect" class="section">
				<h1>Connect With Me</h1>
				<div class="connections-wrapper">
					<p class="connections">
						<a href="https://www.linkedin.com/in/tbauer516" target="_blank"><i class="fa fa-linkedin-square"></i> LinkedIn Profile</a>
						<a class="margin-left" id="myEmail" href="" data-clipboard-text="tbauer16@uw.edu" tooltip-placement="bottom" tooltip-is-open="isOpen" uib-tooltip="Email copied to clipboard!" ng-click="isOpen = true" ng-mouseleave="isOpen = false" tooltip-trigger="none" tooltip-class="tooltip"><i class="fa fa-envelope"></i> Email Me</a>
					</p>
				</div>
				<div class="connections-wrapper">
					<p>
						Thank you for visiting my humble website. I hope you enjoyed your time here. Please feel free to connect with me by visiting my LinkedIn profile and inviting me to connect. If you would like to communicate with me immediately, feel free to send me an email. If you really liked me, feel free to do both.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<footer>
    <div>
        <p>Designed and Created by Tyler Bauer, University of Washington Student of the Information School</p>
    </div>
</footer>