<form name="info">
	<h1>DOB</h1>
	<input ng-model="dob" placeholder="DOB...">
	<h1>School</h1>
	<input ng-model="school" placeholder="School...">
	<h1>Degree</h1>
	<input ng-model="degree" placeholder="Degree...">
	<h1>Skills</h1>
	<textarea ng-model="skills" placeholder="Skills..."></textarea>
	<h1>Languages I Know</h1>
	<textarea ng-model="languages" placeholder="Languages..."></textarea>
	<h1>Description</h1>
	<textarea ng-model="description" placeholder="Paragraph about myself"></textarea>
	<h1>Image</h1>
	<input ng-model="image" placeholder="Image URI here...">
	<a href="img-encoder/index.html" target="_blank">
		Get img URI
	</a>
	<br>
	<a ui-sref="home">
		<button ng-click="saveInfo()">Save Changes</button>
	</a>
</form>